<footer>
  <div class="footer">
    <a.footer href="/" class="brand-logo">&copy; 2017 SkillTerrier</a>
    <br>
    <br>
      <a href="/" class="footer">Home</a>  |
      <a href="/about" class="footer">About</a>  |
      <a href="/contact" class="footer">Contact Us</a>
    </ul>
  </div>
</footer>
