<footer>
  <div class="footer">
    <a.footer href="/" class="brand-logo">SkillTerrier</a>
    <br>
    <br>
      <a.footer href="/">Home</a>  |
      <a.footer href="/about">About</a>  |
      <a.footer href="/contact">Contact Us</a>
    </ul>
  </div>
</footer>
