<footer>
  <div class="footer">
    <a.footer href="/" class="brand-logo">&copy; 2017 SkillTerrier</a>
    <br>
    <br>
      <a href="/" class="footertext">Home</a>  |
      <a href="/about" class="footertext">About</a>  |
      <a href="/contact" class="footertext">Contact Us</a><br><br>
      <span class="socialbox">
        <a href="https://www.facebook.com/SkillTerrier"><img src="/img/icons/fb_share.png" class="social"></a><a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <a href="https://twitter.com/SkillTerrier"><img src="/img/icons/tw_share.png" class="social"></a>
      </span>
  </div>
</footer>
