<footer>
  <div class="footer">
    <a href="/" class="brand-logo">SkillTerrier</a>
    <br>
    <br>
      <a href="/">Home</a>  |
      <a href="/about">About</a>  |
      <a href="/contact">Contact Us</a>
    </ul>
  </div>
</footer>
