<!-- views/about.ejs -->
<html>


<body class="center">
    <div class="parent">
    <img width="400" height="400" src="/img/tooling.jpg" alt="Putting America back to work.">
  </div>
  
<h1 class>Putting America back to work.</h1>
<p class>Welcome to SkillTerrier.  We're making it easy for people to get the skills they need for the jobs they want.<br><br>
  SkillTerrier is based in part on data collected by the United States Department of Labor and the Bureau of Labor Statistics.<br>
  For more information, visit the <a href=http://www.onetcenter.org/>O*Net Database</a> or the <a href=http://www.bls.gov/data/>BLS Data Tool</a>.</p>

</body>
</html>
