<!-- views/contact.ejs -->
<html>


<body class="center">
  <div class="parent">
  <img width="400" height="400" src="/img/phone_desk.jpg" alt="Contact us.">
</div>

<h1 class="standard">Let us know what you think.</h1>
<p>Did you find a job through our site?  Do you have a question or suggestion?  We'd like to hear from you.
  <br><br>Let us know <a href="mailto:kevin.skillterrier@gmail.com">here</a>.
</p>

</body>
</html>
