<!-- views/inddetail.ejs -->
<html>
<body class="center">

<br><br><br>

<h1>Find a Sector</h1>
<p><%= name %> sectors:</p>

<ul>
  <% categories.forEach(function(Category) { %>
    <li>
      - <a href="./<%= id %>/cat/<%= Category.id %>"><%= Category.name %>.</a><br>
    </li>
  <% }) %>
</ul>
<br><br><p>See where new paths can take you.</p>

<br><br>Or, <a href="/">start over.</a>
</body>
</html>
