<!-- views/index.ejs -->
<html>


<body>

<br><br><br>
  <img src="img/skillterrier_placeholder.jpg" alt="dog friend">

  <br>Hello<br><br><br>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p><br><br>

<a><form action="jobs/" method="get">
  <button class="btn waves-effect waves-light" type="submit">Search here my dog
    <i class="material-icons right">send</i>
  </button>
</form></a>

</body>
</html>
