<!-- views/index.ejs -->
<html>


<body class="center">

    <div class="parent">
    <img width="400" height="400" src="img/mainstreet.jpg">
  </div>


<h1>It's just a skill away.</h1>
<p>You're ready to move up in the world.  You're experienced, hardworking, professional.<br>
You're looking for good pay, solid opportunities, and work you can be proud of.<br><br>
Search careers on SkillTerrier to find the job that's right for you.  Learn what it takes to get hired.<br>
And find educational opportunities to get you the skills you need.<br><br>
Your favorite job is waiting for you.  What are you waiting for?</p><br>

<a><form action="ind/" method="get">
  <button class="btn waves-effect waves-light" type="submit">Start here.
  </button>
</form></a>

</body>
</html>
