<!-- views/jobdetail.ejs -->
<html>
<body>
  <div class="parent">
  <img width="400" height="400" src="/img/mainstreet.jpg">
</div>

<h1><%= jobtitle %></h1>
<p>Description:<br><%= description %></p>
<br><p><%= jobtitle %> may be responsible for the following tasks:
<ul>
  <% tasks.forEach(function(Task) { %>
    <li>
      - <a><%= Task.name %></a><br>
    </li>
  <% }) %>
</ul>

<br><br><a href="/">Do it again.</a>
</body>
</html>
