<!-- views/layout.ejs -->

<!DOCTYPE html>

  <% include partials/nav %>
<html>

<body>
  <head>
  <% include partials/head %>

  </head>
  <main>
    <%- body %>
  </main>
  <% include partials/footer %>
</body>
</html>
