<!-- views/layout.ejs -->

<!DOCTYPE html>

<html>


  <head>

    <% include partials/head %>

  </head>

  <main>
  <body>
        <% include partials/nav %>
          <%- body %>


  </main>
  <% include partials/footer %>
</body>
</html>
