<!-- views/layout.ejs -->

<!DOCTYPE html>

  <% include partials/nav %>
<html>
<body>
<% include partials/head %>
  <head>

  </head>
  <main>
    <%- body %>
  </main>
  <% include partials/footer %>
</body>
</html>
