body {
  padding: 0px;
  font: 14px "Helvetica Neue","Open Sans",sans-serif;
}

.parent {
  width: 100%;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body.center {
  padding: 0px;
  align-items: center;
  font: 14px "Helvetica Neue","Open Sans",sans-serif;
}

main {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 50px;
  font: 14px "Helvetica Neue","Open Sans",sans-serif;
}


a.footer {
  color: #FFFFFF;
}

h1.center {
  text-align: center;
}

p.center {
  text-align: center;
}

h1, h2 {
  font-weight: 100;
}

h1 {
  font-size: 35px;
}

input[type=submit], input[type=text] {
  margin-left: 10px
}
nav {
  background-color: #6C6C6C;
  color: #34B3EE;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
}

footer {
  background-color: #6C6C6C;
  color: #FFFFFF;
  text-align: center;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
