body {
  padding: 0px;
  font: 14px "Helvetica Neue","Open Sans",sans-serif;
}

main {
  padding: 50px;
  font: 14px "Helvetica Neue","Open Sans",sans-serif;
}

a {
  color: #FFFFFF;
}

h1, h2 {
  font-weight: 100;
}

h1 {
  font-size: 35px;
}

input[type=submit], input[type=text] {
  margin-left: 10px
}
nav {
  background-color: #6C6C6C;
  color: #34B3EE;
  padding-left: 20px;
}
head {
  background-color: #6C6C6C;
  color: #34B3EE;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}


footer {
  background-color: #6C6C6C;
  color: #FFFFFF;
  text-align: center;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
