body {
  padding: 0px;
  font: 14px "Helvetica Neue","Open Sans",sans-serif;
}

.padded {
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  font: 14px "Helvetica Neue","Open Sans",sans-serif;
}

.parent {
  width: 100%;
}

img {
  width: 100%;
  height: auto;
}

img.normal {
  width: auto;
  height: auto;
}

img.logo {
  padding-top: 10px;
  width: auto;
  height:50px;
}

body

.center {
  padding: 0px;
  text-align: center;
  align-items: center;
  font: 14px "Helvetica Neue","Open Sans",sans-serif;
}

main {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 50px;
  font: 14px "Helvetica Neue","Open Sans",sans-serif;
}


a.footer {
  color: #FFFFFF;
}

a

.left {
  color: #000000;
  text-align: left;
}

h1.center {
  text-align: center;
}

p.center {
  margin: auto;
  text-align: center;
}

h1, h2 {
  font-weight: 100;
}

h1 {
  font-size: 35px;
}

ul.list{
    margin-left: 20px;
    display: list-item;
    list-style-type:disc;
}

input[type=submit], input[type=text] {
  margin-left: 10px
}
nav {
  background-color: #FFFFFF;
  color: #34B3EE;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
}

footer {
  background-color: #6C6C6C;
  color: #FFFFFF;
  text-align: center;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}


/* industry box display */

        .industry_boxes {
          display: inline-block;
          text-align: center;
          margin-right: auto;
          margin-left: auto;
          padding-bottom: 10px;
          width: auto;
          height: auto;
          max-width: 450px;
          position: relative;
        }


        .industry_boxes ul {
          list-style: none;
          text-align: center;
          height: auto;
        }

        .industry_boxes ul li {
            display: inline-block;
            padding: 0 10px 0 10px;
            text-align:center;
            height: auto;
        }


        .industry_boxes ul li a {

          display: block;
          /*
          margin-right: 10px;
          margin-bottom: 7px; */
          opacity: 1.0;
          -webkit-transition: all 0.3s linear;
          -moz-transition: all 0.3s linear;
          transition: all 0.3s linear;
        }
        .industry_boxes ul li a:hover {
          opacity: 0.75;
        }

        .industry_boxes ul li a img {
          border: 1px solid #e1d9ec;
          width: 84px;
          height: 84px;
          padding: 2px;
        }
